/* .header_top-logo {
    width: 80px;
} */

.header_top {
    display: flex;
    justify-content: space-between;
    padding-left: 250px;
    padding-right: 250px;
    align-items: center;
}

.header_middle {
    padding-left: 250px;
    padding-right: 250px;
}

.middle {
    padding-left: 250px;
    padding-right: 250px;
}

h3 {
    color: white;
}

.header_top-navigation ul {
    list-style-type: none;
    display: flex;
}

    .header_top-navigation ul li {
        margin-left: 10px;
    }

        .header_top-navigation ul li a {
            color: white;
            text-decoration: none;
            font-size: 18px;
            padding: 10px;
            transition: all .25s ease;
        }
            .header_top-navigation ul li a:hover {
                color: #bdd043;
            }

            .header {
                box-shadow: 0px 1px 3px #ccc;
            }

p {
    font-size: 14px;
}

ul.b {
    list-style-type: square;
    font-size: 14px;
    color: #8b8c8b;
}

.middle_text {
    color: #8b8c8b;
}

a {
    color: #8b8c8b;
    text-align: center;
}

    a:hover {
        color: #bdd043;
    }

.footer_p {
    color: white;
    /*text-align:center;*/
}
